<div class="container">
  <h1 class="my-4">Authors</h1>
  <div class="mb-3">
    <%= link_to 'View All Books', books_path, class: 'btn btn-primary' %>
  </div>
  <%= form_for_filterrific @filterrific, html: { method: :get } do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :search_by_name, "Filter by Author Name" %>
          <%= f.text_field :search_by_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6 m-2">
        <div class="form-group">
          <%= f.submit "Apply Filter", class: 'btn btn-primary' %>
          <%= link_to "Reset Filter", reset_filterrific_url, class: 'btn btn-link' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Actions</th>
          <th>Books</th>
          <!-- Added a column for Books -->
        </tr>
      </thead>
      <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><%= author.email %></td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-info" href="<%= author_path(author) %>" data-turbo-action="replace">Show</a>
                <a class="btn btn-warning" href="<%= edit_author_path(author) %>" data-turbo-action="replace">Edit</a>
              </div>
            </td>
            <td>
              <a class="btn btn-primary" href="<%= book_path(author) %>" data-turbo-action="replace">Books</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div data-turbo-frame="header">
    <% if author_signed_in? %>
      <%= form_for(current_author, url: destroy_author_session_path, method: :delete, data: { turbo_frame: 'header' }) do |f| %>
        <%= f.submit "Log Out", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
